#article {
	.article-wrapper {
		margin-top: 30px;
		padding: 30px;
		background-color: $white;
		min-height: 150px;

		.article-edit {
			display: inline-block;
			font-size: .5em;
			color: $grey-color;
			opacity: .3;
			position: relative;
			bottom: 3px;
			left: 30px;
			padding: 10px;

			&:hover {
				cursor: pointer;
				opacity: .5;
			}
		}

		.article-new {
			display: none;
		}

		&.editing {
			.article-new {
				display: block;
			}
			.article-exists {
				display: none;
			}
		}
	}
}