body {
    background-color: #f7f7f7;
    font: $font-stack;

    &.small_header{
      header {        
        .center {
          top: 120px;
          transform: none;
        }        
      }
    }

    &.loaded {
      height: 350px!important;
    }
}

h1 {
	color: $primary-color;
}


img {
	max-width: 100%;
}

.content-wrapper {
	max-width: 1000px;
	margin: 30px auto;
}

.tabbed-widget {

	margin-bottom: 30px;

	.tabbed-widget-container {
		background-color: #ffffff;  
    	border-top: 1px solid #dddddd;
    	margin-top: -1px;
    	padding: 30px;
	}

	.tabbed-widget-title {
		font-family: $font-stack;
	    font-weight: 600;
	    text-transform: uppercase;
	    font-size: 15px;
	    color: $grey-color;
	    text-align: center;
	    padding: 8px;
        display: block;
	}

	.tabbed-tab {
		background-color: #dddddd;
		width: 100px;
		display: inline-block;
        
        &.active {
            background-color: #ffffff;
            border-top: 4px solid #ef4b2a;
        }
	}
}

.panel {
	border-radius: 0;
	padding: 25px;
}

.edit-only, .edit-inline-only {
	display: none !important;
}

.edit {
	.edit-only {
		display: block !important;
	}
	.edit-inline-only {
		display: inline-block !important;
	}
	.view-only {
		display: none;
	}
}