body {
    background-color: #f7f7f7;
    font: $font-stack;
}

h1 {
	color: $primary-color;
}


img {
	max-width: 100%;
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.tabbed-widget {
	.tabbed-tab {
		background-color: #dddddd;
		width: 100px;
		display: inline-block;
        
        &.active {
            background-color: #ffffff;
            border-top: 4px solid #ef4b2a;
        }
	}
}