.dash-content {

//	.dash_border {
//		width: 100px;
//		height: 4px;
//		background-color: #ef4b2a;
//		border-radius: 5px;
//		margin: 20px 20px 0px 20px;
//	}

	.dash_title {
		font-family: $font-stack;
	    font-weight: 600;
	    text-transform: uppercase;
	    font-size: 15px;
	    color: $grey-color;
	    text-align: center;
	    padding: 8px;
        display: block;
	}

	.display-block {
		display: block;
	}

	.post-text {
		padding: 15px 10px 0px 0px;
		font-family: $font-stack;
	    color: $grey-color;
	    font-size: 15px;
	}

    .post-specs {
        
        img {
            display: inline-block; 
            vertical-align: middle;
            max-width: 100%;
            width: 15px;
        }
        
        p {
            display: inline-block;
            vertical-align: middle;
        }
        
        
    }
    
	.details-text {
		padding: 15px 10px 0px 0px;
		font-family: $font-stack;
		font-weight: 300;
		font-size: 9px;
		color: #7f7f7f;
	}
    
    .dash_container {
    	background-color: #ffffff;
        padding: 30px;
        
        .post-display{
            border-bottom: 1px solid #dddddd;
            padding-bottom: 15px;
            
            &:last-child {
                border-bottom: none;
            }
        }

        .post-title {
            color: #ef4b2a;
            font-family: $font-stack;
        }
       
	}

}



