html, body, #login_screen { 
    
    width: 100%; height: 100%; margin: 0; padding: 0;


    #login_screen {
        background-image: url(../images/bg_login.jpg); 
        background-size: cover; 
        background-position: center center;
        position: relative;
        
        .center{
            position: absolute; 
            margin: auto; 
            left: 0; 
            right: 0; 
            top: 50%; 
            transform: translateY(-50%); 
            text-align: center; 
            padding: 0px 20px;
            
            h1 {
                
                img{
                    width: 450px;
                }
                
            }
            
            .sub_title {
                font-family: 'Roboto', sans-serif; 
                font-size: 40px; 
                font-weight: 100; 
                color: #fff; 
                padding: 60px 0px; 
                margin: 0;}
            
            p {
                font-family: 'Roboto', sans-serif; 
                font-size: 15px; 
                font-weight: 100; 
                color: #fff;
            }
            
        }
        
        #login {
            background-color: #e94e1b; 
            font-family: 'Roboto', sans-serif; 
            font-size: 18px; 
            padding: 10px 80px; 
            border-radius: 8px; 
            color: #fff;
            
            
            span{
                font-size: 30px; 
                vertical-align: bottom;
            }
        }
    
    }

 } 
            