.small_header{
	header {
		
		height: 500px!important;
		
		.center {
			top: 160px;
			transform: none;
		}
		
	}
}

#teampage {
	padding: 40px 0;

	.team-intro {
		font-size: 16px;
	}

	.team-members {

		margin-top: 80px;

		.member {
			text-align: center;

			.member-avatar {
				max-width: 200px;
				display: inline-block;

				img {
					border-radius: 50%;
					overflow: hidden;
				}
			}

			.member-name {
				display: block;
				padding: 20px 0;
				font-size: 2em;
			}
		}
	}
}

