$grey-color: #404040;

.tool-content {

	.toolbelt_container {
    	background-color: #ffffff;
		width: 320px;   
    	border-top: 1px solid #dddddd;
    	margin: -1px 20px 20px 20px;
	}

	.tool_tab {
		background-color: #ffffff;
		width: 100px;
		height: 40px;
		margin: 0px 20px 0px 20px;
		position: relative;
	}

	.tool_border {
		width: 100px;
		height: 4px;
		background-color: #ef4b2a;
		border-radius: 5px;
		margin: 20px 20px 0px 20px;
	}

	.tool_title {
		font-family: $font-stack;
	    font-weight: 600;
	    text-transform: uppercase;
	    font-size: 15px;
	    color: $grey-color;
	    text-align: center;
	    padding: 8px;
	}

	a {
		color: #7f7f7f;
	}

	a:hover {
	  	color: $grey-color;
	  	text-decoration: none;
	}


	.toolbelt_container:last-child {
		padding-bottom: 10px;
	}

	.display {
		padding: 15px 10px 0px 0px;
		font-family: $font-stack;
	    font-weight: 550;
	    color: $grey-color;
	    font-size: 16px;
	}

	.git-logo {
		max-height: 17px;
		margin-right: 15px;
	}

}

