$grey-color: #404040;

.tool-content {
    
    &.top-space {
        margin-top: 30px;
    }

	.toolbelt_container {
    	background-color: #ffffff;  
    	border-top: 1px solid #dddddd;
    	margin-top: -1px;
	}

	.tool_tab {
		background-color: #ffffff;
		width: 100px;
		height: 40px;
		//margin: 0px 20px 0px 20px;
		position: relative;
        border-top: 4px solid #ef4b2a;
	}

//	.tool_border {
//		width: 100px;
//		height: 4px;
//		background-color: #ef4b2a;
//		border-radius: 5px;
//		margin: 20px 20px 0px 20px;
//	}

	.tool_title {
		font-family: $font-stack;
	    font-weight: 600;
	    text-transform: uppercase;
	    font-size: 15px;
	    color: $grey-color;
	    text-align: center;
	    padding: 8px;
        display: block;
	}

	a {
		color: #7f7f7f;
	}

	a:hover {
	  	color: $grey-color;
	  	text-decoration: none;
	}


	.toolbelt_container:last-child {
		padding-bottom: 10px;
	}

	.display {
		padding: 15px 10px 0px 0px;
		font-family: $font-stack;
	    color: $grey-color;
	    font-size: 16px;
	}

	.git-logo {
		max-height: 17px;
		margin-right: 15px;
	}

}

