
header {
    
    background-image: url(../images/bg_clean.jpg); 
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    height: 100%;

.navbar-default {
    
    border: none;
    border-radius: 0px;
    background-color: transparent;
    margin-bottom: 0px;

    .navbar-brand { 
        background-image: url(../images/hack-icon.png); 
        background-position: center; 
        background-size: cover; 
        margin: 15px!important; 
        padding: 26px 15px;
        position: fixed;
        z-index: 100;
    }

    .navbar-right { 

        margin: 12px;

        li {

            a { 
                color: #ffffff!important; 
                font-family: $font-stack; 
                font-weight: 400;
                text-transform: uppercase;
                font-size: 13px;
                margin-top: 5px;
            }

        }
        
        .user_holder { 
            
            position: relative;
            
            &:before {
                content: '';
                width: 1px;
                height: 40px;
                background-color: #999;
                position: absolute;
                margin-top: 10px;
            }
        
            .user_description {

                display: inline-block;
                vertical-align: middle;
                text-align: right;
                padding: 0px 20px;

                .user_name {
                    color: $primary-color;
                    font-family: $font-stack;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 13px;
                    margin: 2px 0;
                }
                .user_org {
                    color: $primary-color;
                    font-family: $font-stack;
                    font-weight: 300;
                    text-transform: uppercase;
                    font-size: 13px;
                    margin: 2px 0;
                }
            }

            .user_image {
                overflow: hidden;
                display: inline-block;
                vertical-align: middle;
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }
            
        }

    }
}
    
    .center{
            position: absolute; 
            margin: auto; 
            left: 0; 
            right: 0; 
            top: 50%; 
            transform: translateY(-50%); 
            text-align: center; 
            padding: 0px 20px;
            
            h1 {
                
                margin: 0;
                font-family: 'Roboto', sans-serif; 
                font-size: 60px; 
                text-transform: uppercase;
                
            }
            
            .sub_title {
                font-family: 'Roboto', sans-serif; 
                font-size: 40px; 
                font-weight: 100; 
                color: #fff; 
                padding: 40px 0px; 
                margin: 0;}
            
            p {
                font-family: 'Roboto', sans-serif; 
                font-size: 15px; 
                font-weight: 100; 
                color: #fff;
            }
            
        }
    
    #hidden-menu {
        position: fixed;
        width: 30%;
        height: 100%;
        z-index: 100;
        margin-top: -100%;
        background-color: rgba(235,82,7,.8);
        transition: .5s all;
        
        &.active {
            margin-top: 0;
        }
        
        .circle {
            width: 120px;
            height: 120px;
            border: 2px solid #fff;
            border-radius: 100%;
            margin: 0px auto;
            
        .user_image {
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            width: 100px;
            height: 100px;
            margin-top: 8px;
            border-radius: 100%;
        }
        }
        
        
        
        ul {
            margin: 10px 0 ; 
            padding: 0;
            
            li {
                
                margin: 0;
                font-family: 'Roboto', sans-serif; 
                font-size: 40px; 
                text-transform: uppercase;
                
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    }